/* JS Number Guess game
may 28 2024
Ethan Lawrence */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 10px auto;

    padding: 10px;
    border: 3px solid black;
    background-color: blanchedalmond;
}
h1 {
    margin: 10px 0 30px 0;
}
p {
    margin: 10px 0 20px 0;
}

.form input[type="number"] {
    width: 200px;
}
#compare {
    color: white;
    background-color: gray;
    padding: 3px;
}

.js-guess-low {
    background-color: yellow;
    padding: 5px;
    text-align: center;
    display: inline-block;
}
.js-guess-hi {
    background-color: red;
    padding: 5px;
    text-align: center;
    display: inline-block;
}
.js-correct-guess {
    background-color: lawngreen;
    padding: 5px;
    text-align: center;
    display: inline-block;
}